<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Afghanistan</string>
		<key>initials</key>
		<string>AF</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Albania</string>
		<key>initials</key>
		<string>AL</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Algeria</string>
		<key>initials</key>
		<string>DZ</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Aland Islands</string>
		<key>initials</key>
		<string>AX</string>
	</dict>
	<dict>
		<key>name</key>
		<string>American Samoa</string>
		<key>initials</key>
		<string>AS</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Anguilla</string>
		<key>initials</key>
		<string>AI</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Andorra</string>
		<key>initials</key>
		<string>AD</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Angola</string>
		<key>initials</key>
		<string>AO</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Antilles - Netherlands</string>
		<key>initials</key>
		<string>AN</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Antigua and Barbuda</string>
		<key>initials</key>
		<string>AG</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Antarctica</string>
		<key>initials</key>
		<string>AQ</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Argentina</string>
		<key>initials</key>
		<string>AR</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Armenia</string>
		<key>initials</key>
		<string>AM</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Australia</string>
		<key>initials</key>
		<string>AU</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Austria</string>
		<key>initials</key>
		<string>AT</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Aruba</string>
		<key>initials</key>
		<string>AW</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Azerbaijan</string>
		<key>initials</key>
		<string>AZ</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bosnia and Herzegovina</string>
		<key>initials</key>
		<string>BA</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Barbados</string>
		<key>initials</key>
		<string>BB</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bangladesh</string>
		<key>initials</key>
		<string>BD</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Belgium</string>
		<key>initials</key>
		<string>BE</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Burkina Faso</string>
		<key>initials</key>
		<string>BF</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bulgaria</string>
		<key>initials</key>
		<string>BG</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bahrain</string>
		<key>initials</key>
		<string>BH</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Burundi</string>
		<key>initials</key>
		<string>BI</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Benin</string>
		<key>initials</key>
		<string>BJ</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bermuda</string>
		<key>initials</key>
		<string>BM</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Brunei Darussalam</string>
		<key>initials</key>
		<string>BN</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bolivia</string>
		<key>initials</key>
		<string>BO</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Brazil</string>
		<key>initials</key>
		<string>BR</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bahamas</string>
		<key>initials</key>
		<string>BS</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bhutan</string>
		<key>initials</key>
		<string>BT</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bouvet Island</string>
		<key>initials</key>
		<string>BV</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Botswana</string>
		<key>initials</key>
		<string>BW</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Belarus</string>
		<key>initials</key>
		<string>BY</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Belize</string>
		<key>initials</key>
		<string>BZ</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Cambodia</string>
		<key>initials</key>
		<string>KH</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Cameroon</string>
		<key>initials</key>
		<string>CM</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Canada</string>
		<key>initials</key>
		<string>CA</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Cape Verde</string>
		<key>initials</key>
		<string>CV</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Central African Republic</string>
		<key>initials</key>
		<string>CF</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Chad</string>
		<key>initials</key>
		<string>TD</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Chile</string>
		<key>initials</key>
		<string>CL</string>
	</dict>
	<dict>
		<key>name</key>
		<string>China</string>
		<key>initials</key>
		<string>CN</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Christmas Island</string>
		<key>initials</key>
		<string>CX</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Cocos (Keeling) Islands</string>
		<key>initials</key>
		<string>CC</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Colombia</string>
		<key>initials</key>
		<string>CO</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Congo</string>
		<key>initials</key>
		<string>CG</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Cote D&apos;Ivoire (Ivory Coast)</string>
		<key>initials</key>
		<string>CI</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Cook Islands</string>
		<key>initials</key>
		<string>CK</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Costa Rica</string>
		<key>initials</key>
		<string>CR</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Croatia (Hrvatska)</string>
		<key>initials</key>
		<string>HR</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Cuba</string>
		<key>initials</key>
		<string>CU</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Cyprus</string>
		<key>initials</key>
		<string>CY</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Czech Republic</string>
		<key>initials</key>
		<string>CZ</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Democratic Republic of the Congo</string>
		<key>initials</key>
		<string>CD</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Djibouti</string>
		<key>initials</key>
		<string>DJ</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Denmark</string>
		<key>initials</key>
		<string>DK</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dominica</string>
		<key>initials</key>
		<string>DM</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dominican Republic</string>
		<key>initials</key>
		<string>DO</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ecuador</string>
		<key>initials</key>
		<string>EC</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Egypt</string>
		<key>initials</key>
		<string>EG</string>
	</dict>
	<dict>
		<key>name</key>
		<string>El Salvador</string>
		<key>initials</key>
		<string>SV</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Estonia</string>
		<key>initials</key>
		<string>EE</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Equatorial Guinea</string>
		<key>initials</key>
		<string>GQ</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Eritrea</string>
		<key>initials</key>
		<string>ER</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ethiopia</string>
		<key>initials</key>
		<string>ET</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Finland</string>
		<key>initials</key>
		<string>FI</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Fiji</string>
		<key>initials</key>
		<string>FJ</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Falkland Islands (Malvinas)</string>
		<key>initials</key>
		<string>FK</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Federated States of Micronesia</string>
		<key>initials</key>
		<string>FM</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Faroe Islands</string>
		<key>initials</key>
		<string>FO</string>
	</dict>
	<dict>
		<key>name</key>
		<string>France</string>
		<key>initials</key>
		<string>FR</string>
	</dict>
	<dict>
		<key>name</key>
		<string>France, Metropolitan</string>
		<key>initials</key>
		<string>FX</string>
	</dict>
	<dict>
		<key>name</key>
		<string>French Guiana</string>
		<key>initials</key>
		<string>GF</string>
	</dict>
	<dict>
		<key>name</key>
		<string>French Polynesia</string>
		<key>initials</key>
		<string>PF</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Gabon</string>
		<key>initials</key>
		<string>GA</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Gambia</string>
		<key>initials</key>
		<string>GM</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Germany</string>
		<key>initials</key>
		<string>DE</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ghana</string>
		<key>initials</key>
		<string>GH</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Gibraltar</string>
		<key>initials</key>
		<string>GI</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Great Britain</string>
		<key>initials</key>
		<string>GB</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Grenada</string>
		<key>initials</key>
		<string>GD</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Georgia</string>
		<key>initials</key>
		<string>GE</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Greece</string>
		<key>initials</key>
		<string>GR</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Greenland</string>
		<key>initials</key>
		<string>GL</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Guinea</string>
		<key>initials</key>
		<string>GN</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Guadeloupe</string>
		<key>initials</key>
		<string>GP</string>
	</dict>
	<dict>
		<key>name</key>
		<string>South Georgia and South Sandwich Islands</string>
		<key>initials</key>
		<string>GS</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Guatemala</string>
		<key>initials</key>
		<string>GT</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Guam</string>
		<key>initials</key>
		<string>GU</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Guinea-Bissau</string>
		<key>initials</key>
		<string>GW</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Guyana</string>
		<key>initials</key>
		<string>GY</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hong Kong</string>
		<key>initials</key>
		<string>HK</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Heard Island and McDonald Islands</string>
		<key>initials</key>
		<string>HM</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Honduras</string>
		<key>initials</key>
		<string>HN</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Haiti</string>
		<key>initials</key>
		<string>HT</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hungary</string>
		<key>initials</key>
		<string>HU</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Indonesia</string>
		<key>initials</key>
		<string>ID</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ireland</string>
		<key>initials</key>
		<string>IE</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Israel</string>
		<key>initials</key>
		<string>IL</string>
	</dict>
	<dict>
		<key>name</key>
		<string>India</string>
		<key>initials</key>
		<string>IN</string>
	</dict>
	<dict>
		<key>name</key>
		<string>British Indian Ocean Territory</string>
		<key>initials</key>
		<string>IO</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Iraq</string>
		<key>initials</key>
		<string>IQ</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Iran</string>
		<key>initials</key>
		<string>IR</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Italy</string>
		<key>initials</key>
		<string>IT</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Jamaica</string>
		<key>initials</key>
		<string>JM</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Jordan</string>
		<key>initials</key>
		<string>JO</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Japan</string>
		<key>initials</key>
		<string>JP</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kenya</string>
		<key>initials</key>
		<string>KE</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kyrgyzstan</string>
		<key>initials</key>
		<string>KG</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kiribati</string>
		<key>initials</key>
		<string>KI</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Comoros</string>
		<key>initials</key>
		<string>KM</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Saint Kitts and Nevis</string>
		<key>initials</key>
		<string>KN</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Korea (North)</string>
		<key>initials</key>
		<string>KP</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Korea (South)</string>
		<key>initials</key>
		<string>KR</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kuwait</string>
		<key>initials</key>
		<string>KW</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Cayman Islands</string>
		<key>initials</key>
		<string>KY</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kazakhstan</string>
		<key>initials</key>
		<string>KZ</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Laos</string>
		<key>initials</key>
		<string>LA</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Lebanon</string>
		<key>initials</key>
		<string>LB</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Saint Lucia</string>
		<key>initials</key>
		<string>LC</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Liechtenstein</string>
		<key>initials</key>
		<string>LI</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sri Lanka</string>
		<key>initials</key>
		<string>LK</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Liberia</string>
		<key>initials</key>
		<string>LR</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Lesotho</string>
		<key>initials</key>
		<string>LS</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Lithuania</string>
		<key>initials</key>
		<string>LT</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Luxembourg</string>
		<key>initials</key>
		<string>LU</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Latvia</string>
		<key>initials</key>
		<string>LV</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Libya</string>
		<key>initials</key>
		<string>LY</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Macedonia</string>
		<key>initials</key>
		<string>MK</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Macao</string>
		<key>initials</key>
		<string>MO</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Madagascar</string>
		<key>initials</key>
		<string>MG</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Malaysia</string>
		<key>initials</key>
		<string>MY</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mali</string>
		<key>initials</key>
		<string>ML</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Malawi</string>
		<key>initials</key>
		<string>MW</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mauritania</string>
		<key>initials</key>
		<string>MR</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Marshall Islands</string>
		<key>initials</key>
		<string>MH</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Martinique</string>
		<key>initials</key>
		<string>MQ</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mauritius</string>
		<key>initials</key>
		<string>MU</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mayotte</string>
		<key>initials</key>
		<string>YT</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Malta</string>
		<key>initials</key>
		<string>MT</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mexico</string>
		<key>initials</key>
		<string>MX</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Morocco</string>
		<key>initials</key>
		<string>MA</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Monaco</string>
		<key>initials</key>
		<string>MC</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Moldova</string>
		<key>initials</key>
		<string>MD</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Montenegro</string>
		<key>initials</key>
		<string>ME</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mongolia</string>
		<key>initials</key>
		<string>MN</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Myanmar</string>
		<key>initials</key>
		<string>MM</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Northern Mariana Islands</string>
		<key>initials</key>
		<string>MP</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Montserrat</string>
		<key>initials</key>
		<string>MS</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Maldives</string>
		<key>initials</key>
		<string>MV</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mozambique</string>
		<key>initials</key>
		<string>MZ</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Namibia</string>
		<key>initials</key>
		<string>NA</string>
	</dict>
	<dict>
		<key>name</key>
		<string>New Caledonia</string>
		<key>initials</key>
		<string>NC</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Niger</string>
		<key>initials</key>
		<string>NE</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Norfolk Island</string>
		<key>initials</key>
		<string>NF</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nigeria</string>
		<key>initials</key>
		<string>NG</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nicaragua</string>
		<key>initials</key>
		<string>NI</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Netherlands</string>
		<key>initials</key>
		<string>NL</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Norway</string>
		<key>initials</key>
		<string>NO</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nepal</string>
		<key>initials</key>
		<string>NP</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nauru</string>
		<key>initials</key>
		<string>NR</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Niue</string>
		<key>initials</key>
		<string>NU</string>
	</dict>
	<dict>
		<key>name</key>
		<string>New Zealand</string>
		<key>initials</key>
		<string>NZ</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Oman</string>
		<key>initials</key>
		<string>OM</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Panama</string>
		<key>initials</key>
		<string>PA</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Peru</string>
		<key>initials</key>
		<string>PE</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Papua New Guinea</string>
		<key>initials</key>
		<string>PG</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Philippines</string>
		<key>initials</key>
		<string>PH</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Pakistan</string>
		<key>initials</key>
		<string>PK</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Poland</string>
		<key>initials</key>
		<string>PL</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Saint Pierre and Miquelon</string>
		<key>initials</key>
		<string>PM</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Pitcairn Islands</string>
		<key>initials</key>
		<string>PN</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Puerto Rico</string>
		<key>initials</key>
		<string>PR</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Palestinian</string>
		<key>initials</key>
		<string>PS</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Portugal</string>
		<key>initials</key>
		<string>PT</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Palau</string>
		<key>initials</key>
		<string>PW</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Paraguay</string>
		<key>initials</key>
		<string>PY</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Qatar</string>
		<key>initials</key>
		<string>QA</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Réunion</string>
		<key>initials</key>
		<string>RE</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Romania</string>
		<key>initials</key>
		<string>RO</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Russian Federation</string>
		<key>initials</key>
		<string>RU</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rwanda</string>
		<key>initials</key>
		<string>RW</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Saudi Arabia</string>
		<key>initials</key>
		<string>SA</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Samoa</string>
		<key>initials</key>
		<string>WS</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Saint Helena</string>
		<key>initials</key>
		<string>SH</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Saint Vincent and the Grenadines</string>
		<key>initials</key>
		<string>VC</string>
	</dict>
	<dict>
		<key>name</key>
		<string>San Marino</string>
		<key>initials</key>
		<string>SM</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sao Tome and Principe</string>
		<key>initials</key>
		<string>ST</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Senegal</string>
		<key>initials</key>
		<string>SN</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Serbia</string>
		<key>initials</key>
		<string>RS</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Seychelles</string>
		<key>initials</key>
		<string>SC</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sierra Leone</string>
		<key>initials</key>
		<string>SL</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Singapore</string>
		<key>initials</key>
		<string>SG</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Slovakia</string>
		<key>initials</key>
		<string>SK</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Slovenia</string>
		<key>initials</key>
		<string>SI</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Solomon Islands</string>
		<key>initials</key>
		<string>SB</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Somalia</string>
		<key>initials</key>
		<string>SO</string>
	</dict>
	<dict>
		<key>name</key>
		<string>South Africa</string>
		<key>initials</key>
		<string>ZA</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Spain</string>
		<key>initials</key>
		<string>ES</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sudan</string>
		<key>initials</key>
		<string>SD</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Suriname</string>
		<key>initials</key>
		<string>SR</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Svalbard and Jan Mayen</string>
		<key>initials</key>
		<string>SJ</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sweden</string>
		<key>initials</key>
		<string>SE</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Switzerland</string>
		<key>initials</key>
		<string>CH</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Soviet Union</string>
		<key>initials</key>
		<string>SU</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Swaziland</string>
		<key>initials</key>
		<string>SW</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Syria</string>
		<key>initials</key>
		<string>SR</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Taiwan</string>
		<key>initials</key>
		<string>TW</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tanzania</string>
		<key>initials</key>
		<string>TZ</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tajikistan</string>
		<key>initials</key>
		<string>TJ</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Thailand</string>
		<key>initials</key>
		<string>TH</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Timor-Leste (East Timor)</string>
		<key>initials</key>
		<string>TL</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Togo</string>
		<key>initials</key>
		<string>TG</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tokelau</string>
		<key>initials</key>
		<string>TK</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tonga</string>
		<key>initials</key>
		<string>TO</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Trinidad and Tobago</string>
		<key>initials</key>
		<string>TT</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tunisia</string>
		<key>initials</key>
		<string>TN</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Turkey</string>
		<key>initials</key>
		<string>TR</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Turkmenistan</string>
		<key>initials</key>
		<string>TM</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Turks and Caicos Islands</string>
		<key>initials</key>
		<string>TC</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tuvalu</string>
		<key>initials</key>
		<string>TV</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ukraine</string>
		<key>initials</key>
		<string>UA</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Uganda</string>
		<key>initials</key>
		<string>UG</string>
	</dict>
	<dict>
		<key>name</key>
		<string>United Arab Emirates</string>
		<key>initials</key>
		<string>AE</string>
	</dict>
	<dict>
		<key>name</key>
		<string>United Kingdom</string>
		<key>initials</key>
		<string>UK</string>
	</dict>
	<dict>
		<key>name</key>
		<string>United States</string>
		<key>initials</key>
		<string>US</string>
	</dict>
	<dict>
		<key>name</key>
		<string>United States Minor Outlying Islands</string>
		<key>initials</key>
		<string>UM</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Uruguay</string>
		<key>initials</key>
		<string>UR</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Uzbekistan</string>
		<key>initials</key>
		<string>UZ</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Vanuatu</string>
		<key>initials</key>
		<string>VU</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Vatican City State</string>
		<key>initials</key>
		<string>VA</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Venezuela</string>
		<key>initials</key>
		<string>VZ</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Virgin Islands (British)</string>
		<key>initials</key>
		<string>VG</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Virgin Islands (US)</string>
		<key>initials</key>
		<string>VI</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Vietnam</string>
		<key>initials</key>
		<string>VN</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Wallis and Futuna</string>
		<key>initials</key>
		<string>WF</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Western Sahara</string>
		<key>initials</key>
		<string>EH</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Yemen</string>
		<key>initials</key>
		<string>YE</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Yugoslavia</string>
		<key>initials</key>
		<string>YU</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Zambia</string>
		<key>initials</key>
		<string>ZM</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Zaire (former)</string>
		<key>initials</key>
		<string>ZR</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Zimbabwe</string>
		<key>initials</key>
		<string>ZW</string>
	</dict>
</array>
</plist>
